.card {
  max-width: 200px;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 1em;
  }
  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }
  .yellow-stars {
    color: yellow;
  }
  display: inline-block;
}
